@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
$inter: 'Inter', sans-serif;

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: $inter;
}
.header{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1%;
    background-color: #F55A5A;
    img{
        height: 36px;
        width: 36px;
        float: left;
    }
    h3{
        padding-left: 1%;
        font-weight: 400;
        color: #fff;
    }
}
.cards-holder{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    //padding-top: 5%;
    .card{
        display: flex;
        padding: 5%;
        .img-holder{
           width: min-content;
           margin-right: 3%;
            img{
                image-rendering: optimizeSpeed;
                border-radius: 6px;
                width: 120px;
                height: 170px;
                object-fit: cover;
            }
        }
        .content-holder{
            display: flex;
            flex-direction: column;
            .rel-data{
                display: flex;
                padding-top: 3%;
                font-size: .7em;
                align-items: center;
                img{
                    height: 15px;
                }
                h3{
                    padding-left: 8px;
                    font-weight: 400;
                    color: #2B283A;
                    letter-spacing: 3px;
                    padding-right: 15px;
                }
                a{
                    color: #918E9B;
                }
            }
            h2{
                color: #2B283A;
                padding-top: 2%;
                padding-bottom: 3%;
            }
            .travel-dates{
                font-size: 0.8em;
                font-weight: 700;
                letter-spacing: 1px;
                color: #2B283A;
            }
            .description{
                padding-top: 2%;
                color: #2B283A;
                font-size: 0.8em;
                font-weight: 400;
            }
        }
        
    }
}
@media only screen and (max-width: 1000px){
    .cards-holder{
        margin-left: 10%;
        width: 80%;
    }
}

@media only screen and (max-width: 750px){
    .cards-holder{
        margin-left: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 400px){
    .rel-data{
        font-size: 0.7em !important;
    }
    h2{
        font-size: 1em;
    }
    .travel-dates{
    font-size: 0.7em !important;
    }
    .description{
        font-size: 0.7em !important;
    }
}